<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">
            <fa-icon [icon]="faPaintRoller" class="color-changer m-2"></fa-icon>
            <strong>Color Picker</strong>
        </span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="https://thedevcorp.github.io/" target="_blank" rel="noopener noreferrer" tabindex="-1">
                    <img src="assets/images/TDC.png" alt="TDC logo" class="nav-logo" />
                </a>
            </li>
        </ul>
    </nav>
</div>