hr {
    width: 100%;
}
.card {
    width: 250px;
    height: 180px;
}
.alert {
    width: 90%;
}
.hover:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}
.cursor-pointer {
    cursor: pointer;
}
.depth {
    box-shadow: 0px 14px 37px -9px rgba(120,120,120,0.75);
}